html,
body {
    height: 100vh;
    margin: 0;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: black;
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.time {
    margin-right: 13px;
    color: grey;
}

.msg-user span {
    margin-left: 13px;
    color: grey;
}

.main {
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(124deg, #141608, #a11304);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 28s ease infinite;
    -moz-animation: AnimationName 28s ease infinite;
    animation: AnimationName 28s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.chat-list-style {
    border-radius: 15px;
    margin-top: 5px;
    padding-left: 12px;
    cursor: pointer;
    background-color: aliceblue;
}

.chat-text {
    color: white;
    padding-left: 12px;
}

.chat-ico {
    width: 50px;
    height: 50px;
    background-image: url(http://www.lowcountryren.com/nestor/Documentation/ionicons-1.4.1/src/android-friends.svg);
    background-size: 167px 53px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.chat-list {
    background-color: rgba(0, 0, 0, .4);
    overflow-y: scroll;
}

.chat button {
    display: none;
    float: right;
    border: none;
    background-color: transparent;
    color: black;
    outline: none;
}

.chat {
    margin: 10px;
    cursor: pointer;
}

.chat:hover {
    color: #D24D57;
}

.chat:hover button {
    display: inline-block;
    color: #D24D57;
}

.chat-name {
    color: white;
    text-align: center;
}

.plus-ico {
    width: 50px;
    height: 50px;
    background-image: url(https://image.flaticon.com/icons/svg/69/69301.svg);
    background-size: 167px 53px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.crete-chat:hover {
    cursor: pointer;
    color: white;
}

.modal {
    top: calc(50vh - 233px)!important;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.modal-content {
    width: 500px;
}

#myModalLabel {
    color: black;
}

#addUserlabel {
    color: black;
}

.modal-title {
    text-align: center;
}

#createChatInput {
    width: 472px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
    color: black;
}

#specUserToAdd {
    width: 472px;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    outline: none;
    color: black;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.emoji-toggle {
    position: relative;
    margin: -12px -1px -12px 10px;
    height: 59px;
    width: 53px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 42px;
}

.emoji-toggle:hover {
    color: orange;
}

.emoticonMenu span {}

.hidden {
    display: none;
}

#msg.hover {
    background: #ddd;
    border-color: #aaa;
}

#msg.error {
    background: #faa;
    border-color: #f00;
}

#msg.drop {
    background: #afa;
    border-color: #0f0;
}

.imgDom img {
    width: 300px;
    height: 200px
}

.border-left {
    font-size: 22px;
    border-left: 2px solid #D24D57;
}

.border-right {
    border-right: 2px solid #D24D57;
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
}

#mainChat {
    margin-left: 100px;
    margin-right: 100px;
}

#mainChat li {
    padding: 10px;
    list-style: none;
    font-size: 25px;
    word-break: break-all;
}

.msg-user {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#msg {
    font-size: 16px;
}

.heigth-control {
    height: 100vh;
}

.send-control {
    height: calc(100vh - 95px);
    border-bottom: 5px solid black;
}

.peer-call {
    float: right;
}

.text-area-inner {
    display: flex;
    position: relative;
    padding: 12px 10px;
    border-radius: 3px;
    border: 2px solid #dadddf;
    box-sizing: border-box;
}

.chat-input {
    height: auto;
    overflow: hidden;
    color: white;
    background-color: transparent;
    resize: none;
    outline: none;
    border: none;
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    max-height: 144px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.emoticonMenu {
    display: inline-block;
    width: 300px;
    height: auto;
    font-size: 20px;
    border-radius: 3px;
    border: 2px solid #dadddf;
    box-sizing: border-box;
    padding: 8px 5px;
    background-color: lavenderblush;
}

.upload-toogle {
    position: relative;
    margin: -12px 20px -12px -1px;
    height: 59px;
    width: 53px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 42px;
    color: darkgray;
}

.upload-toogle:hover {
    color: white;
}

.active {
    color: #D24D57;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.flex{
    display: flex;
    justify-content: center;
    align-content: stretch;
}

.users{
    display: flex;
    flex-direction: column;
}

#userList{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.calls{
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    border-top: 1px solid white;
    padding-top: 5px;
    border-radius: 3px;
}

.callPlaceholder{
    Z-INDEX: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #3d3d3e;
}

#incomingVideo{
    height: 500px;
    object-fit: fill;
}

#usersVideo{
    position: absolute;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)

}

#chatCreate {
    border-bottom: 1px solid white;
    padding: 4px;
}